.characteristick {
  @include section(38px, 51px);
  border-radius: 84px;
  background: radial-gradient(
    83.61% 564.26% at 29.18% 83.61%,
    #fefcc7 0%,
    rgba(208, 210, 106, 0.497504) 53.02%,
    rgba(57, 153, 55, 0) 98.56%
  );
  & .list {
    margin-left: auto;
    margin-right: auto;
    width: 1131px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    & .item {
      & h3 {
        @include loraFont(24px, 37px, 600);
      }
      & p {
        @include loraFont(16px, 25px, 400);
      }
    }
  }
}
