.footer {
  background: #0b0e2781;
  margin-top: 30px;
  padding-top: 80px;
  padding-bottom: 30px;
  // padding-left: 22px;
  display: flex;
  align-items: flex-end;
  position: relative;
  @media screen and (min-width: 1280px) {
    margin-top: 133px;
    height: 97px;
    padding-top: 10px;
  }
  & .data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-110%);

    @media screen and (min-width: 1280px) {
      transform: translateX(-50%) translateY(-50%);
    }
  }

  & .creators {
    display: inline-block;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
    @include elMesseryFont(14px, 1.56, 400);
    @media screen and (min-width: 1280px) {
      @include elMesseryFont(14px, 1.56, 400);
      color: white;
      margin-left: 154px;
    }
  }

  .footer-text {
    color: white;
    text-align: center;
    @include loraFont(16px, 1.56, 500);

    @media screen and (min-width: 1280px) {
      @include loraFont(20px, 1.56, 500);
    }
  }
}
