.herro {
  position: relative;
  @include section(0px, 278px, 20px, 20px);
  & h1 {
    @include elMesseryFont(48px, 1.56, 600);
    margin-left: auto;
    margin-right: auto;
    width: 1035px;
    text-align: center;
  }
  & .rabit-thumb{
    position:absolute;
    top: 75px;
    right: 45px;
  }
}
