.main-work {
  position: relative;
  background: linear-gradient(
    104deg,
    #eaedca 17.5%,
    #58c7ce 56.44%,
    rgba(115, 105, 174, 0.36) 88.52%
  );
  width: 1072px;
  border-radius: 84px;
  margin-left: auto;
  margin-right: auto;
  @include section(71px, 117px, 22px, 22px);
  & h2 {
    @include elMesseryFont(64px, 1.56, 700);
    color: black;
    text-align: center;
  }
  .video {
    width: 100%;
    height: 576px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-top: 76px;
    border-radius: 30px;
    overflow: hidden;
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
  .video-description {
    @include elMesseryFont(24px, 1.8, 600);
    color: black;
    text-align: center;
    margin-top: 39px;
  }
  ul {
    text-align: center;
    @include elMesseryFont(24px, 1.8, 600);
    color: black;
  }
  .scores {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-top: 76px;
    border-radius: 20px;
  }
  .mouse {
    position: absolute;
    left: -26px;
    top: 810px;
  }
  .cat {
    position: absolute;
    right: -60px;
    top: 740px;
    width: 500px;
  }
}
