.practice {
  @include section(0px, 179px, 30px, 30px);
  margin-top: 56px;
  position: relative;
  & h2 {
    @include elMesseryFont(64px, 1.56, 700);
    text-align: center;
  }
  & .docks {
    display: flex;
    justify-content: center;
    gap: 278px;
    margin-top: 117px;
    & li {
      width: 354px;
      // height: 500px;
      & img{
        width: 100%;
      }
    }
  }
  & .audio {
    width: 739px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px;
    background-color: aqua;
  }

  & .photo {
    margin-top: 126px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    & div {
      border-radius: 20px;
      box-shadow: 0px -5px 50px rgba(255, 255, 255, 0.185);
      overflow: hidden;
      & img {
        width: 100%;
      }
    }
  }
  & button {
    background-color: transparent;
    border: none;
  }
  & .next-button,
  .prev-button {
    background-color: transparent;
    border: none;
    svg {
      width: 50px;
      height: 50px;
      fill: rgba(255, 255, 255, 0.37);
    }
    &:hover {
      svg {
        fill: rgba(255, 255, 255, 0.596);
      }
    }
  }

  & .next-button {
    svg {
      transform: rotateZ(180deg);
    }
  }

  & .fox-thumb{
    position: absolute;
    top: -148px;
    left: 50px;
  }
}
