.practice {
  @include section(0px, 179px, 30px, 30px);
  & h2 {
    @include elMesseryFont(64px, 1.56, 700);
    text-align: center;
  }
  & .docks {
    display: flex;
    justify-content: center;
    gap: 278px;
    margin-top: 117px;
    & li {
      width: 354px;
      height: 500px;
    }
  }
  & .audio {
    width: 472px;
    height: 106px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px;
    background-color: aqua;
  }

  & .photo {
    margin-top: 126px;
    display: flex;
    justify-content: center;
    gap: 123px;
    & li {
      width: 472px;
      height: 300px;
      background-color: aqua;
    }
  }
}
