.summary {
  @include section(0px, 42px, 0px, 0px);

  & .video {
    width: 1029px;
    height: 522px;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;

    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .epigraph {
    width: 891px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include pattayaFont(32px, 1.38);
  }

  & .description {
    width: 593px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;

    text-align: center;
    @include elMesseryFont(20, 1.55, 500);
  }
}
