* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.jpg");

  background-size: contain;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}
