@mixin loraFont($size: 24px, $lineHeight: 1.28, $weight: 400) {
  font-family: "Lora", serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  color: white;
}

@mixin pattayaFont($size: 24px, $lineHeight: 1.28, $weight: 400) {
  font-family: "Pattaya", sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  color: white;
}

@mixin elMesseryFont($size: 24px, $lineHeight: 1.28, $weight: 400) {
  font-family: "El Messiri", sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  color: white;
}

@mixin section($pt: 0px, $pb: 0px, $pl: 0px, $pr: 0px) {
  padding-top: $pt;
  padding-bottom: $pb;
  padding-left: $pl;
  padding-right: $pr;
  color: white;
}
